@page "/"
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-12 text-center">
        <h1>@Model.Tenant?.Name</h1>
        <h2>@Model.Tenant?.SqlConnectionString</h2>
    </div>
</div>